#Number{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.buttons{
    text-align: center;
}
#Increase, #Decrease, #Reset{
    background-color: aqua;
    padding: 20px;
    gap: 10px;
    border-radius: 6px;
}
#Increase:hover, #Decrease:hover, #Reset:hover{
    background-color: aquamarine;
}